*{
    margin: 0px;
    padding: 0px;
}

html{
    
}

li{
    list-style: none;
}

.mdi-delete{
    color: red;
    cursor: pointer;
}

.mdi-delete:hover{ /* quando ci vado sopra */
    filter: brightness(70%);
}

.mdi-delete:active{ /* quando clicco */
    filter: brightness(40%);
}

#app{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@keyframes slideIn {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0%);
    }
}

li{
    border-bottom: 1px solid #ccc;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    animation: slideIn 1s;
}

